<section class="pb_section bg-light pb_slant-white" id="section-projects" style="display: none;">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center mb-5">
                <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Our portfolio</strong></h5>
                <h2>Projects entrusted to us</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-stretch ourPortfolio">
            <!-- Our portfolio items -->                       
        </div>
    </div>
</section>
<!-- END section -->