<section class="pb_section bg-light pb_slant-white pb_pb-250" id="section-features">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center mb-5">
                <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Features</strong></h5>
                <h2>App Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md- col-sm-6">
                <div class="media d-block pb_feature-v1 text-left">
                    <div class="pb_icon"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">Minimal Design</h5>
                        <p class="text-sans-serif">
                            Only the most essential elements used to create something that's very simple, yet handy and useful.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md- col-sm-6">
                <div class="media d-block pb_feature-v1 text-left">
                    <div class="pb_icon"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">Unlimited Possibilities</h5>
                        <p class="text-sans-serif">Perfect whether you need a simple CMS, projects manager or team members collaboration tool.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md- col-sm-6">
                <div class="media d-block pb_feature-v1 text-left">
                    <div class="pb_icon"><i class="ion-ios-wineglass-outline pb_icon-gradient"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">Open Code</h5>
                        <p class="text-sans-serif">If important for you functionality is missing or you want to improve the app - feel free to explore and update.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="pb_section pb_slant-light">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-lg-4 mb-5">
                <img src="~/img/dashboards.png" alt="Image placeholder" class="" style="position: absolute; top: -10%; right: 0; height: 120%;">
            </div>
            <div class="col-lg-8 pr-md-5 pr-sm-0 order-1  mb-5">
                <div class="row">
                    <div class="col">
                        <h2>Application Features as Tasks Manager</h2>
                        <p class="pb_font-20">Four essential functions for successful project management.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Projects manager</h3>
                                <p class="text-sans-serif pb_font-16">Create, update, delete and track projects you are working on or want to display in your portfolio.</p>
                            </div>
                        </div>

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Tasks manager</h3>
                                <p class="text-sans-serif pb_font-16">Unlimited tasks lists for projects with track of status, deadline and assigning to team members.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg">

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-speedometer-outline pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Custom Teams</h3>
                                <p class="text-sans-serif pb_font-16">Create custom teams for every project with Project Owner and Team Master.</p>
                            </div>
                        </div>

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-color-filter-outline  pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Admin dashboard</h3>
                                <p class="text-sans-serif pb_font-16">Create pre-registered teammates, manage projects, set published content and more.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
<!-- END section -->

<section class="pb_section bg-light pb_slant-white">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-lg-4 order-2">
                <img src="~/img/homepage.png" alt="Image placeholder" class="" style="position: absolute; top: -10%; left: 0; height: 100%;">
            </div>
            <div class="col-lg-8 pl-md-5 pl-sm-0">
                <div class="row">
                    <div class="col">
                        <h2>Application Features as CMS</h2>
                        <p class="pb_font-20">Just select info you want to publish on your website.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Premade Design Free</h3>
                                <p class="text-sans-serif pb_font-16">Make your custom design whatever you want with - ToDoList serves as an API for selected public info.</p>
                            </div>
                        </div>

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Portfolio Section</h3>
                                <p class="text-sans-serif pb_font-16">Need some portfolio on your website? Just pick projects in your database. No need for portfolio? No problem. No public projects - no portfolio section.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg">

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-speedometer-outline pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Team Section</h3>
                                <p class="text-sans-serif pb_font-16">Have some public team members, you want to show on website? Pick as much as needed.</p>
                            </div>
                        </div>

                        <div class="media pb_feature-v2 text-left mb-1 mt-5">
                            <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-color-filter-outline  pb_icon-gradient"></i></div>
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">FAQ Section</h3>
                                <p class="text-sans-serif pb_font-16">We believe that everyone deals with changing circumstances. Update the FAQ section easily or don't use it.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- END section -->