<section class="pb_section pb_slant-light pb_pb-220" id="section-team" style="display: none;">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-6 text-center mb-5">
                <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Our Team</strong></h5>
                <h2>People, You Can Trust</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="pb_slide_testimonial_sync_v1">
                    <!-- Slides -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->